<div id="nav">
  <h1 class="stayleft">Football News</h1>
  <div class="stayright">
    <div id ='timedate2'>
      <!-- <p id='timedate2'></p> -->
    </div>
    <div class="dropdown">
      <button class="dropbtn">Information</button>
      <div class="dropdown-content">
        <a href="https://newsapi.org/docs/get-started" target="_blank">Api</a>
        <a href="/" id="yet2add">Language Options</a>
        <a href="https://github.com/yannytwoo" target="_blank">Developer</a>
      </div>
    </div>
  </div>
</div>