*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    background-color: white;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
h1,h2,h3{
    color: whitesmoke;
    text-align: center;
    font-size: 150%;
}
a {
    color: inherit;
    text-decoration: inherit;
}




#nav{
    background-color: #182F85;
    margin: 0;
    padding: 0;
    color: whitesmoke;
    gap: 1rem;

    display: flex;
    flex-direction: row;
}
#nav li{
    list-style-type: none;
}
.stayleft{
    justify-content: flex-start;
    margin-right: auto;
}
.stayright{
    /* justify-content: flex-end; */
    display: flex;
    flex-direction: row;

    margin-left: auto;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.dropdown-content a:hover {background-color: #f1f1f1} 
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
#timedate2{
    padding: 1rem 1rem 1rem;
}




img{
    max-width: 20vh;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #274ED9;
}
#teambox{
    display: flex;
    justify-content: center;

}
.team{
    padding: 2vh;
}



#newsroot{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
    /* display: grid;
    grid-template-columns: 12px 12px 12px;
    grid-template-rows: 12px 12px 12px;
    grid-row-gap: 1px;
grid-column-gap: 9px; */
}
.news-card{
    font-size: 120%;
    border-radius: 1rem;
    color: #fff;
    background-color: #444;
    padding: 1rem;
    margin: 1rem;
    flex-grow: 1;
    /* /* min-width: 40%;  */


    display: flex;
}




#footer{
    text-align: center;
    /* margin-top: auto; */
    margin: 2rem 0 1rem 0; /* top left bottom right i.e CLOCKWISE*/
    /* if there are 3: top left&right bottom */
}



#card2collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;

    color: #fff;
    background-color: #444;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;

    max-width: 30rem;
}
.card2img{
    width: 100%;
    z-index: -1;
}